.sidebar-container {
  position: fixed;
  top: 60px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: calc(100vh - 60px);
  border-right: 1px solid rgb(62, 62, 62);
  overflow: visible;
  z-index:1
}

.sidebar-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

.sidebar-container {
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.priority {
  display: flex;
  width: 100%;
  height: 45px;
  font-size: 18px;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.priority-inner {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}

.categories {
  display: flex;
  width: 100%;
  height: 45px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  background-color: rgb(137, 134, 134);
  border-bottom: 1px solid black;
}
.add {
  position: relative;
  gap: 2px;
  cursor: pointer;
}


.sidebar-container > div {
  flex: 0 0 auto;  
}

.add-category{
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgb(234, 232, 232);
  left: 30px;
  bottom: 40px;
  height:fit-content;
  padding: 8px;
  border-radius: 1rem;
  z-index: 1000;
}

.add-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-body{
  display: flex;
  flex-direction: column;
  gap: 3px
}
.add-input{
  height: 20px;
  border-radius: 8px;
  outline: none;
  border:1px solid gray;
}
.add-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

