.all-page {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
}

.all-page-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-content: center;
}

@media (max-width: 769px) {
  .all-page-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
