.add-task-button{
    position: fixed;
    display: flex;
    width: 150px;
    background-color: rgba(8, 6, 6, 0.3);
    color: rgba(255, 255, 255, 0.4);
    height: 75px;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 50px;
    cursor: pointer;
}

.add-task-button:hover{
    background-color: rgba(8, 6, 6, 1);
    color: #f8c46a;
    animation: updown 0.3s infinite ease-in-out;
}

.add-task-button-div{
    display: flex;
    align-items: center;
    gap: 3px;
}

@keyframes updown{
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
    
}