.detail-container{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

.brown{
     background-color: #b1afa9;
}

.green{
     background-color: #B8C0A8;
}

.gray{
     background-color: #EDE6DB;
}

.blue{
     background-color: #90aed8;
}


.detail-inner-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner-text{
    font-size: 14px;
    color: rgb(121, 119, 119);
    font: lighter;
}


.detail-header-inner{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 2px;
}

.vertical-dots{
     display: flex;
     position: relative;
}

.detail-options{
     position: absolute;
     display: flex;
     flex-direction: column;
     gap: 5px;
     background-color: rgba(138, 136, 136, 0.9);
     padding: 10px;
     width: 100px;
     z-index: 200;
     border-radius: 8px;
     right: 0;
}
.detail-edit-div{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap:4px;
     font-size: 18px;
     cursor: pointer;
}

.detail-delete-div{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap:4px;
     color:red;
     font-size: 18px;
     cursor: pointer;
}

.detail-container textarea{
     background-color: transparent;
     border: none;
     width: 100%;
}

.detail-container textarea:focus{
      outline: none;
}