.task-container{
    width: 250px;
    height: 360px;
    overflow-y: hidden;
    overflow-x: visible;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.brown{
     background-color: #b1afa9;
}

.green{
     background-color: #B8C0A8;
}

.gray{
     background-color: #EDE6DB;
}

.blue{
     background-color: #90aed8;
}


.task-inner-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner-text{
    font-size: 14px;
    color: rgb(121, 119, 119);
    font: lighter;
}

.task-header-inner{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 2px;
}

.vertical-dots{
     display: flex;
     position: relative;
}

.task-options{
     position: absolute;
     display: flex;
     flex-direction: column;
     gap: 5px;
     background-color: rgba(138, 136, 136, 0.9);
     padding: 10px;
     width: 100px;
     z-index: 200;
     border-radius: 8px;
     right: 0;
}
.edit-div{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap:4px;
     font-size: 18px;
}

.delete-div{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap:4px;
     color:red;
     font-size: 18px;
}